.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameContainerRow {
  display: grid;
  grid-template-columns: min-content repeat(5, 1fr);
}

.box {
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  border: 0.5px solid green;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green
}

.hit {
  background-color: red;
}

.miss {
  background-color: grey;
}

.letterLongitude {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em
}

.numbersLatitude {
  display: grid;
  grid-template-columns: 3em repeat(5, 130px);
  margin-right: 0;
}

.numberLatitude {
  text-align: center;
}