.gameContainer {
  font-family: 'black ops one';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.gameContainerRow {
  display: grid;
  grid-template-columns: min-content repeat(5, 1fr);
}

.gameboardDiv {
  border: 2px solid black;
}

.box {
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  border: 0.5px solid rgba(5, 2, 91, 0.5);
  background-color: rgb(92, 176, 228);
  display: flex;
  align-items: center;
  justify-content: center;
  color: green
}

.hit {
  background-image: url('../assets/explosion.gif');
  background-size: contain;
}

.miss {
  background-image: url('../assets/splash.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

.letterLongitude {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  width: 3em
}

.numbersLatitude {
  display: grid;
  grid-template-columns: 3em repeat(5, 130px);
  align-items: center;
  height: 2em;
  font-size: 1.3em;
}

.numberLatitude {
  text-align: center;
}