.promptDisplay {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  font-size: 1.5rem;
}

.promptDisplayScreen {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  overflow: auto;
}

p {
  padding: 0;
  margin-bottom: 5px;
}