.promptDisplay {
  padding: 10px;
  border: 1px solid black;
  flex: 1;
  display: flex;
  font-size: 1.5rem;
}

.promptDisplayScreen {
  padding: 10px;
  border: 1px solid black;
  flex: 1;
  display: flex;
  font-size: 1.5rem;
}