.textContainer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr min-content;
  border-right: 2px solid black;
  gap: 10px;
  padding-top: 20px;
  padding-right: 20px;
}